.gradle
/build/
.gradle/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/test-20200728T225157.log
/test-20200728T225608.log
/test-20200728T230259.log
/test-20200728T230536.log
/test-20200728T231049.log
/test-20200728T231302.log
